.forecasts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forecasts > * {
    margin: 0.4rem;
}

.title {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-around;
}

.title span {
    color: #046582;
}


.forecasts-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.toggle-degree {
    display: flex;
}

.toggle-degree input {
    margin-right: 0.2rem;
}

