.forecast {
    background-color: #6e7582;
    color: white;
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.forecast > * {
    margin-bottom: 0.1rem;
}

.forecast img {
    width: 100px;
    height: 100px;
}

.forecast .temperatures {
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

.temperatures p {
    margin: 0.5rem;
}

.minTemperature {
    color: #f39189;
}