.forecast-day {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 1rem auto;
}

.hourly-title {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hourly-title span {
    color: #046582;
}

.toggle-degree {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-group {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.forecast-day-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 562px) {
    .hourly-title {
        flex-direction: column;
        align-items: center;
    }

}