.form {
    width: 80%;
    margin: 0.7rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label{
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.form-group input {
    outline: none;
    border: 2px solid #046582;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #6e7582;
}

.submitButton {
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #f39189;
    color: white;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .form, .form-group {
        flex-direction: column;
    }

    .form input {
        margin-top: 1rem;
        width: 100%;
    }
}