.header {
    background-color: #046582;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    text-align: center;
    color: white;
    padding: 10px 0;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
}

.nav-link:hover {
    transform: scale(1.2);
    color: thistle;
}
