.hourly-forecast {
    background-color: #6e7582;
    color: white;
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.hourly-forecast img {
    width: 100px;
    height: 100px;
}

.hourly-temperatures {
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

.hourly-temperatures p {
    margin: 0.4rem;
}

.hourly-minTemperature {
    color: #E07C24;
}